---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mike Henderson - Math for Dogs">
	<main>
		<h1>Mike Henderson</h1>
		<p class="text-lg text-black">Multidisciplinary UX project leader with 15 years of experience blending human-centered design, user research, and front-end development to drive digital transformations that guide government, commercial, and non-profit clients towards long-term success.</p>
		
		<div class="pt-12 pb-8">
			<h3 class="text-sm text-gray-500 mb-2">Currently</h3>
			<p class="text-lg text-black">Senior UX Designer / UX Lead, Choice Architecture at <a href="https://adhocteam.us" target="_blank" class="underline text-blue-500">Ad Hoc</a></p>
		</div>

		<div class="py-8">
			<h3 class="text-sm text-gray-500 mb-2">Past clients</h3>
			<p class="text-lg"><a href="https://blueland.com" target="_blank" class="underline text-blue-500">Blueland</a> | <a href="https://roka.com" target="_blank" class="underline text-blue-500">ROKA</a> | <a href="https://foriawellness.com" target="_blank" class="underline text-blue-500">FORIA</a> | <a href="https://thehacc.org" target="_blank" class="underline text-blue-500">Housing Authority of Cook County</a></p>
		</div>

		<div class="py-8">
			<h3 class="text-sm text-gray-500 mb-2">Lets connect</h3>
			<p class="text-lg"><a href="mailto:mike@mathfordogs.com" class="underline text-blue-500">mike@mathfordogs.com</a> | <a href="https://www.linkedin.com/in/mike-henderson-ux/" target="_blank" class="underline text-blue-500">LinkedIn</a></p>
		</div>

		<div class="py-8">
			<p class="text-sm text-gray-500">&copy; 2024 Mike Henderson. All rights reserved.</p>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 4rem 1rem 2rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-family: "Satoshi Bold", sans-serif;
		color: #000;
		font-size: 48px;
		line-height: 1.5rem;
		margin-bottom: 24px;
	}

</style>
