---
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Thumb from '../components/Thumb.astro';

const allProjects = await getCollection("projects");


---

<Layout title="Mike Henderson - Math for Dogs">
	<main class="flex flex-col space-y-16 md:space-y-16">
		<!--hero-->
		<section class="Hero">
			<div class="container px-4">
				<h1 class="font-black uppercase pt-10 md:pt-30 pb-4">Mike 
					<br />Henderson</h1>
				<h2 class="text-4xl">Design. Research. Strategy.</h2>
			</div>
		</section>
		
		<!--work-->
		<section class="Current">
			<div class="container px-4 md:px-8 prose flex">
				<div class="w-full md:w-1/2">
				<h5 class="mb-4 opacity-60">Currently</h5>
				<p class="text-xl font-medium mt-0 mb-0">Senior Designer @ <a href="https://adhocteam.us" target="_blank" class="text-lightBlue">Ad Hoc</a>
				<small class="block text-md font-normal mt-2">UX lead, Choice Architecture. Working to empower enrollees at <a href="https://healthcare.gov" target="_blank" class="text-lightBlue">HealthCare.gov</a> to more easily find health coverage that aligns with their unique health and financial needs.</small></p>
			</div>
		</section>
		<section class="Previous">
			<div class="container px-4 prose flex">
				<div class="w-full md:w-1/2">
				<h5 class="mb-4 opacity-60">Previously</h5>
				<ul class="list-none m-0 p-0">
					<li class="p-0">Research &amp; strategy @ <a href="https://anatta.io" target="_blank" class="text-lightBlue">Anatta</a></li>
					<li class="p-0">Design &amp; dev @ <a href="https://wojodesign.com" target="_blank" class="text-lightBlue">Wojo Design</a></li>
					<li class="p-0">Design &amp; dev <a href="https://ehousestudio.com" target="_blank" class="text-lightBlue">eHouse Studio</a></li>
				</ul>
				</div>
			</div>
		</section>
		
		<section class="Previous">
			<div class="container px-4 prose flex">
				<div class="w-full md:w-1/2">
				<h5 class="mb-4 opacity-60">Live Work</h5>
				<ul class="list-none m-0 p-0">
					<li class="p-0"><a href="https://healthcare.gov/see-plans" target="_blank" class="text-lightBlue">HealthCare.gov</a> (strategy, design)</li>
					<li class="p-0"><a href="https://roka.com" target="_blank" class="text-lightBlue">ROKA</a> (optimization, strategy, design)</li>
					<li class="p-0"><a href="https://thehacc.org" target="_blank" class="text-lightBlue">Housing Authority of Cook County</a> (strategy, design, development)</li>
					<li class="p-0"><a href="https://fibroidfighters.org" target="_blank" class="text-lightBlue">Fibroid Fighters</a> (design, development)</li>
					<li class="p-0 mt-8 italic">Case studies available upon request</li>
				</ul>
				</div>
			</div>

		</section>
		
		<section class="Contact">
			<div class="container px-4 prose flex">
				<div class="w-full md:w-1/2">
				<h5 class="mb-4 opacity-60">Contact</h5>
				<ul class="list-none m-0 p-0">
					<li class="p-0"><a href="mailto:mike@mathfordogs.com" class="text-lightBlue">Email</li>
					<li class="p-0"><a href="https://linkedin.com/in/mike-henderson-ux" target="_blank" class="text-lightBlue">LinkedIn</a></li>
				</ul>
				</div>
			</div>
		</section>
		
		<footer>
			<div class="container px-4 pb-8 text-sm">
			&copy; 2024 Mike Henderson. All rights reserved.
			</div>
		</footer>
	</main>
</Layout>

<style>

.Hero h1 {
	font-size: clamp(3.125rem, 10.393vw + 0.436rem, 8.75rem);
	line-height: 100%;
	margin-left: -6px;
}

.Work h2 {
	letter-spacing: 2px;
}
</style>
