<footer>
    <div class="container px-4 py-8">
       <div>&copy; 2024 Mike Henderson. All rights reserved.</div>
       <nav>
           <a href="mailto:mike@mathfordogs.com">Email</a>
           <a href="https://linkedin.com/in/mike-henderson-ux">LinkedIn</a>
       </nav>
    </div>
</footer>