<header class="py-8">
    <div class="container px-4 flex justify-between">
        <h1><a href="/">Mike Henderson</a></h1>
        
        <nav class="grid grid-cols-2 gap-4">
           <a href="mailto:mike@mathfordogs.com">Email</a>
           <a href="https://linkedin.com/in/mike-henderson-ux">LinkedIn</a>
       </nav>
    </div>
</header>